:root {
    --background-color: rgb(6, 12, 24);
    --border-color: rgb(255, 255, 255, 0.1)
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
a,
p,
span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}

.invis-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav .nav-section {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}
.white {
    color: white !important;
}

#nav-logo-section,
#nav-link-section {
    flex-basis: calc(100% / 3);
}

#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
}

#nav-logo-section {
    white-space: nowrap;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}

#nav-logo-section>a>i {
    font-size: 2rem;
}

#nav-link-section {
    justify-content: flex-start;
    gap: 6rem;
}

#nav-social-section {
    gap: 3rem;
}

.nav-github {
    color: white;
    font-size: 1.2rem;
}

#main {
    flex-grow: 1;
    position: relative;
}

#main>article {
    display: grid;
    height: 85vh;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    position: absolute;
    left: 0;
    top: 0;

    transition: transform 500ms ease-in-out;
}

#main>article>.article-description-section>p {
    height: 100%;
    padding: 2rem;
}

#main>article>.article-section {
    height: 100%;
    border: 1px solid var(--border-color);
}

.article-title-section {
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

#main>article>.article-description-section,
#main>article>.article-nav-section {
    border-left: 1px solid var(--border-color);
}

#main>article>.article-title-section,
#main>article>.article-nav-section {
    border-left: 1px solid var(--border-color);
}

#main>article[data-status="inactive"] {
    transform: translateX(-100%);
}

#img1 {
    background-image: url("/assets/img/Screenshot 2022-12-05 at 10.09.29.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

#img2 {
    background-image: url("/assets/img/IMG_0617.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

#img3 {
    background-image: url("/assets/img/IMG_0618.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

#img4 {
    background-image: url("/assets/img/IMG_0620.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
#img1, #img2, #img3, #img4{
    z-index: -10;
}
.article-nav-section {
    display: flex;
}

.article-nav-button {
    background-color: transparent;
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.article-nav-button>i {
    color: blue;
}
.article p {
    font-size: 1.5rem;
}

/* Particle.js */
#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    position: fixed;
    z-index: -10;
    width: 100%;
}

/* Index.html */
#card {
    position:absolute;
    color:#dddddd;
    font-size: 50px;
    top:50%;
    left:calc(100vw/2 - 50px*4);
}
/* Written article */
.section{
    display: flex;
    padding: 0rem 10rem;
}

.left {
    float: left;
}
.right {
    float:right;
}

.title {
    padding-left:8rem;
    font-size:3rem ;
}

.article {
    font-size: 2rem;
    padding: 0 8rem ;
}
/* Animation */

.has-animation {
    position: relative;
}
.has-animation p, .has-animation img {
    opacity: 0;
}
.has-animation.animate-in p, .has-animation.animate-in img {
    animation: textHidden 0.1s 1.1s forwards;
}
.has-animation.animate-in:before, .has-animation.animate-in:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
}
.has-animation.animate-in:before {
    background-color: #0fe4d2;
}
.has-animation.animate-in:after {
    background-color: #202020;
    animation-delay: 0.5s;
}
.has-animation.animation-ltr.animate-in:before {
    animation: revealLTR 1.8s ease;
}
.has-animation.animation-ltr.animate-in:after {
    animation: revealLTR 1s 0.6s ease;
}
.has-animation.animation-rtl.animate-in:before {
    animation: revealRTL 1.8s ease;
}
.has-animation.animation-rtl.animate-in:after {
    animation: revealRTL 1s 0.6s ease;
}
@keyframes revealRTL {
    0% {
        width: 0;
        right: 0;
   }
    65% {
        width: 100%;
        right: 0;
   }
    100% {
        width: 0;
        right: 100%;
   }
}
@keyframes revealLTR {
    0% {
        width: 0;
        left: 0;
   }
    65% {
        width: 100%;
        left: 0;
   }
    100% {
        width: 0;
        left: 100%;
   }
}
@keyframes textHidden {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
